{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Ajout d'un Client
{% endblock %}

{% block contenu %}
	{{parent()}}

	{% if form.valide is defined %}
		{% if form.valide == true %}
			<h1>Inscription réussie</h1>
			
	{% else %}
		<h1>Echec de l'inscription</h1>
		<h1>
			<a href="index.php?page=ajoutClient">retour sur la page d'ajout </a>
		</h1>
	{% endif %}
{% else %}

	<div class="container">
		<div class="row justify-content-center">

			<form action="index.php?page=ajoutClient" method="post" enctype="application/x-www-form-urlencoded">
				<fieldset>
					<legend>Ajout d'un client</legend>
					<div class="form-group row"></div>
					<div class="form-group">
						<label for="exampleInputName1">Nom </label>
						<input class="form-control" id="exampleInputname1" name="nom" placeholder="Apple" type="text">
					</div>
					 <div class="form-group">
						<label for="exampleInputphone1">coordonees entreprise 
						</label>
						<input class="form-control" id="exampleInputphone" name="coordoneesentreprise" type="text">
					</div>

					<div class="form-group">
						<label for="exampleInputphone1">Coordonnees contrat 
						</label>
						<input class="form-control" id="exampleInputphone" name="coordonneescontrat" type="number">
					</div>
                   
					

					<button type="submit" name="envoyer" class="btn btn-primary">Envoyer</button>
				</fieldset>
			</form>
		</div>
	</div>
{% endif %}{% endblock %}